
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="login-container" id="loginContainer">
    <h2>Business Card Management</h2>
    <form id="loginForm">
        <div class="form-group">
            <label for="txtEmail">Email Address</label>
            <input type="email" id="txtEmail" placeholder="Enter your email" required />
        </div>

        <div class="form-group">
            <label for="txtPassword">Password</label>
            <input type="password" id="txtPassword" placeholder="Enter your password" required />
        </div>

        <div class="btn-group">
            <input type="button" onclick="Login();" value="Login" class="login-btn" />
            <button type="button" class="theme-toggle-btn" id="themeToggleBtn">
                <i class="fas fa-moon"></i>
            </button>
        </div>
    </form>
</div>

<script src="~/jsshared/login.js"></script>
